body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ccf6ba;
    background-image: url('bg1.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  
  .session-room {
    text-align: center;
    background-color: #d1f9c0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
  }
  
  h1 {
    margin-bottom: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
  .counters {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .counter {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    background-color:#cfedc2;
    
  }
  
  .buttons {
    display: flex;
    justify-content: center;
  }
  
  .blue-btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 50px 50px;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .pink-btn {
    background-color: #ff6b81;
    color: #fff;
    border: none;
    padding: 50px 50px;
    border-radius: 10px;
    cursor: pointer;
  }
  